body{

    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    background-size: cover;
    background-color:  rgb(43, 49, 156);

}


    

.top_menu{

    position: absolute;
    left: 580px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.763);
    text-align: center;
    
}


.Titulo{

    position: absolute;
    width: 700px;
    height: 400px;
    top: 80px;
    left: 200px;
    font-weight: 400;
    font-size: 180px;
    line-height: 200px;
    color: rgba(255, 255, 255, 0.763);
 
}


.logo{

    position: absolute;
    width: 440px;
    height: 450px;
    left: 500px;
    top: 280px;

}


.icons{
    
    position: absolute;
    width: 480px;
    height: 420px;
    left: 1300px;
    top: 160px;
    font-weight: 400;
    font-size: 60px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.763);
    text-decoration: none;
    list-style: none;

}




